$innerDesktop: 1023px;


//spaces
$small-space:8px;
$tiny-space:4px;
$medium-space:16px;
$default-space: 24px;
$large-space: 36px;
$extra-large-space:72px;

//breakpoints
$tablet: $innerDesktop;
$mobile:500px;
$small-mobile: 360px;



