<div class="page">

   
    <div class="tabsContainer">
        <div class="tabsNavigation">
            <div class="subheading">
                What I contribute to sustainable and scaleable economic development.
            </div>
            <div class="tabRow">
                <!--buttons and tabs-->
                <!--diversity-->
                <span class="buttonsRow">
                    <button *ngIf="diversityOpen" class=" tabButtonActive" (click)="toggleDiversityClose()">Diverse
                        experience</button>
                    <button *ngIf="diversityClose" (click)="toggleDiversityOpen()" class=" tabButtonInActive">Diverse
                        experience</button>
                </span>
    
    
    
                <!--design skills-->
                <span class="buttonsRow">
                    <button *ngIf="designToolsOpen" class=" tabButtonActive" (click)="toggleDesignClose()">Design
                        skills</button>
    
                    <button *ngIf="designToolsClose" (click)="toggleDesignOpen()" class=" tabButtonInActive">Design
                        skills</button>
                </span>
    
    
                <!--dev skills-->
                <span class="buttonsRow">
                    <button *ngIf="devToolsOpen" class=" tabButtonActive" (click)="toggleDevClose()">Development
                        skills</button>
    
                    <button *ngIf="devToolsClose" (click)="toggleDevOpen()" class=" tabButtonInActive">Development
                        skills</button>
                </span>
    
                     <!--es skills-->
                     <span class="buttonsRow">
                        <button *ngIf="esSetOpen" class=" tabButtonActive" (click)="toggleESClose()">Entrepreneurial spirit </button>
        
                        <button *ngIf="esSetClose" (click)="toggleESOpen()" class=" tabButtonInActive">Entrepreneurial spirit </button>
                    </span>
        
    
    
    
    
    
                <!--tab cards-->
    
    
            </div>
        </div>
  

        <div class="cardsBox">
            <!--experience-->
            <div *ngIf="diversityOpen" class="tabCard">
                <div class="tabCard_Summary">
                    I have a diverse skill set, and believe that this is critical in order to build rich and high
                    quality
                    products for the global community.
                    <br />
                    <br />

                    In addition, I was raised in a scope of different countries, ranging from the United States of
                    America
                    to Kenya, and therefore have benefited in having an appreciation for collaboration and learning from
                    different cultures and communities around the world.
                </div>
                <div class="tabLine">
                    <div class="line"></div>
                </div>

                <div class="tabCard_Content">
                    <div class="tabCard_ContentBox">
                        <div class="tabHighlightedText">
                            Diverse education , experience and skills
                        </div>

                        <div class="tabContentRow">
                            <img src="../../../assets/tabcards/up-Icon.png" alt="" class="tabImage">
                            <span class="tab_ContentColumn">
                                <span class="contentTitle">
                                    University of Pretoria BA Law ( major in International Relations) - 2017
                                </span>
                                <span class="contentSummary">
                                    Golden Key Reciepient & University of Pretoria Academic Merit Award
                                </span>
                            </span>

                        </div>


                        <div class="tabContentRow">
                            <img src="../../../assets/tabcards/up-Icon.png" alt="" class="tabImage">
                            <span class="tab_ContentColumn">
                                <span class="contentTitle">
                                    University of Pretoria LLB - 2019
                                </span>
                                <span class="contentSummary">
                                    Appointed as judge on the University Constititutional Tribunal & winner of national
                                    legal essay. </span>
                            </span>

                        </div>



                        <div class="tabContentRow">
                            <img src="../../../assets/tabcards/KC.png" alt="" class="tabImage">
                            <span class="tab_ContentColumn">
                                <span class="contentTitle">
                                    Founder of Kukura Capital - 2015
                                </span>
                                <span class="contentSummary">
                                    Appointed as judge on the University Constititutional Tribunal & winner of national
                                    legal essay. </span>
                            </span>

                        </div>

                        <div class="tabContentRow">
                            <img src="../../../assets/tabcards/Ww.png" alt="" class="tabImage">
                            <span class="tab_ContentColumn">
                                <span class="contentTitle">
                                    Trainee attorney at Webber Wentzel -2020
                                </span>
                                <span class="contentSummary">
                                    Trained at chambers ranked top law firm in Africa in the following areas of law
                                    banking
                                    & finance, private equity, mergers and acquisition, commercial insurance, financial
                                    technology and general litigation. </span>
                            </span>

                        </div>


                        <div class="tabContentRow">
                            <img src="../../../assets/tabcards/iq.png" alt="" class="tabImage">
                            <span class="tab_ContentColumn">
                                <span class="contentTitle">
                                    Principal Consultant (Product Design) at IQbusiness - 2022
                                </span>
                                <span class="contentSummary">
                                    Working as lead designer on project for Mauritius Commercial Bank, to design from
                                    scratch their electronic know your client platform. </span>
                            </span>

                        </div>
                    </div>
                </div>




            </div>

            <!--design skills-->
            <div *ngIf="designToolsOpen" class="tabCard">
                <div class="tabCard_Summary">
                    I have been part of several creative initiatives throughout my life including participating in
                    national art competitions. Fortunately, I have found a way to integrate my creative side in the work
                    I do and have crafted these into a talent to design solutions.
                </div>
                <div class="tabLine">
                    <div class="line"></div>
                </div>

                <div class="tabCard_Content">
                    <div class="tabCard_ContentBox">
                        <div class="tabHighlightedText">
                            The tools I use to design scalable and sustainable solutions:


                        </div>


                        <div class="tabDesignToolsImage"></div>

                        <div class="referenceBox">
                            <div class="referenceHeading">
                                References list
                            </div>
                            <div class="referenceList">
                                <span class="listRow">

                                    <ul class="referenceList--bullets">
                                        <li>Abstract</li>
                                        <li>Adobe Cloud</li>
                                        <li>Craft</li>
                                        <li>InVision</li>
                                        <li>Miro</li>
                                        <li>Visio</li>
                                    </ul>

                                    <ul class="referenceList--bullets">
                                        <li>Abstract</li>
                                        <li>Adobe Cloud</li>
                                        <li>Craft</li>
                                        <li>InVision</li>
                                        <li>Miro</li>
                                        <li>Visio</li>
                                    </ul>

                                </span>



                            </div>

                        </div>


                    </div>
                </div>
            </div>


            <!--dev skills-->
            <div *ngIf="devToolsOpen" class="tabCard">
                <div class="tabCard_Summary">
                    I have been part of several creative initiatives throughout my life including participating in
                    national art competitions. Fortunately, I have found a way to integrate my creative side in the work
                    I do and have crafted these into a talent to design solutions.
                </div>
                <div class="tabLine">
                    <div class="line"></div>
                </div>

                <div class="tabCard_Content">
                    <div class="tabCard_ContentBox">
                        <div class="tabHighlightedText">
                            The tools; libraries; frameworks & languages I use to design scalable and sustainable
                            solutions:


                        </div>


                        <div class="tabDevToolsImage"></div>

                        <div class="referenceBox">
                            <div class="referenceHeading">
                                References list
                            </div>
                            <div class="referenceList">
                                <span class="listRow">

                                    <ul class="referenceList--bullets">
                                        <li>Sass</li>
                                        <li>CSS</li>
                                        <li>HTML</li>
                                        <li>Javascript</li>
                                        <li>Typescript</li>
                                        <li>Angular</li>
                                    </ul>

                                    <ul class="referenceList--bullets">
                                        <li>NextJS</li>
                                        <li>ReactJS</li>
                                        <li>Storybook
                                        <li>
                                        <li>Bootstrap</li>
                                        <li>Wordpress</li>
                                        <li>Firebase</li>
                                    </ul>

                                    <ul class="referenceList--bullets">
                                        <li>Useberry</li>
                                        <li>Google Analytics</li>
                                        <li>Heroku</li>
                                        <li>Strapi</li>
                                        <li>Graphql</li>
                                        <li>Angular Material UI</li>
                                    </ul>
                                    <ul class="referenceList--bullets">
                                        <li>React Material UI</li>
                                        <li>PostgreSQL</li>
                                        <li>Python</li>
                                        <li>Google Play &</li>
                                        <li>Google Play Testing</li>

                                    </ul>
                                </span>



                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <!--start-up skills-->
            <div 
            *ngIf="esSetOpen"
            class="tabCard">
                <div class="tabCard_Summary">
                    I have been part of several creative initiatives throughout my life including participating in
                    national art competitions. Fortunately, I have found a way to integrate my creative side in the work
                    I do and have crafted these into a talent to design solutions.
                </div>
                <div class="tabLine">
                    <div class="line"></div>
                </div>

                <div class="tabCard_Content">
                    <div class="tabCard_ContentBox">
                        <div class="tabHighlightedText">
                            My involvement in entrepreneurship :



                        </div>

                        <div class="accoladesList">
                            <ul class="boldList">
                                <li>
                                    Nominated for Global economic Awards Best Entrepreneur in Personal Finance – 2023.
                                </li>

                                <li>
                                    Nominated for the Global Economic Awards Most Innovative Finance App - 2023.
                                </li>
                                <li>
                                    Mail and Guardian Top 200 Young South Africans 2021 - Category Entrepreneurship and
                                    Business.
                                </li>

                                <li>
                                    Chairperson of University of Pretoria Entrepreneurship Club 2018.
                                </li>

                                <li>
                                    Consultant at University of Pretoria Business Incubator 2018 -2019
                                </li>
                                <li>
                                    Invited to the World Youth Summit to present a workshop on the fourth industrial
                                    revolution 2019.
                                </li>
                                <li>
                                    Global Start-Up Awards : Best Student Entrepreneur Finalist 2019.
                                </li>
                                <li>
                                    African Entrepreneurship Awards: Sustainable Business 2019.
                                </li>
                                <li>
                                    Winner of Sage Pitching Competition 2017.
                                </li>
                                <li>
                                    Winner of Maker Space Pitching Competition 2017.
                                </li>

                            </ul>
                        </div>




                    </div>


                </div>
            </div>
        </div>


        <div class="exampleBox">
            <div class="exampleBody">
                A good example of me using my favorite tools and design principles is demonstrated in the making of this personal website.  
            </div>
<div class="exampleCode">
    <a href="" class="externalLink">
        View My Code ↗
    </a>
</div>
           
    <button 
    (click)="toggleTools()"
    class="blueActive "
    *ngIf="myStackOpen">
    <span class="buttonLabel">
My Stack

        <img src="../../../assets/buttons/close.png" alt="" class="buttonIcons">


    </span>
</button>


    <button (click)="toggleTools()"
    class="greenInActive "
    *ngIf="myStackClose"> 
    <span class="buttonLabel">
       My Stack
         <img src="../../../assets/buttons/open.png" alt="" class="buttonIcons">
 
 
     </span>
</button>



        </div>


    </div>
</div>